h1{
    text-align: center;
    color: black;

}
h3{
    text-align: center;
}
.firstbox{
    color: black;
    text-align: center;
    border: solid blue 15px;
    outline:  solid red 15px;
    padding:  5% 5% 10% 5%;
    margin: 5px 10px 5px 10px;

}
.secondbox{
    color: black;
    text-align: center;
    border: solid blue 15px;
    outline:  solid red 15px;
    padding:  5% 5% 10% 5%;
    margin: 5px 10px 5px 10px;
}
.thirdbox{
    color: black;
    text-align: center;
    border: solid blue 15px;
    outline:  solid red 15px;
    padding:  5% 5% 10% 5%;
    margin: 5px 10px 5px 10px;

}