h1{
    text-align: center;
    color: black;

}
h3{
    text-align: center;
}
.firstbox{
    color: black;
    text-align: center;
    border: solid blue 15px;
    outline:  solid red 15px;
    padding:  30% 30% 10% 30%;
    margin: 10px 40px 10px 40px;

}
.secondbox{
    color: black;
    text-align: center;
    border: solid blue 15px;
    outline:  solid red 15px;
    padding: 30% 30% 10% 30%;
    margin: 20px 30px 20px 30px;
}
.thirdbox{
    color: black;
    text-align: center;
    border: solid blue 15px;
    outline:  solid red 15px;
    padding:  30% 10% 20% 30%;
    margin: 30px 40px 30px 40px;

}